body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana;
}
h1 {
  font-size: 50px;
  font-weight: normal; /*This style is specified on the project redline document and is present on the mock-up PNG image, but is not present on the live page examples.*/
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
.pleaseclickme {
  color: aquamarine;
  font-size: 16px;
}
p {
  color: gray;
  font-size: 21px;
}
.footer {
  text-align: right;
}
